.main-wrapper {
    margin-right: 100px;
    margin-left: 100px;

    .search-input {
        max-width: 500px;
    }

    .TableBodystyles__Td-sc-2pkb1y-0 {
        vertical-align: middle;
    }

    .img-wrapper {
        max-width: 60px;
    }

    .Inputstyles__Prefix-sc-hc8ttv-3 {
        padding-top: 6px;
    }
}


