.main-wrapper {
    margin-right: 100px;
    margin-left: 100px;

    .search-input {
        max-width: 500px;
    }

    .iJPjLE {
        vertical-align: middle;
    }

    .img-wrapper {
        max-width: 60px;
    }

    .bpDgbf, .cfwafC {
        padding-top: 6px;
    }
}


